/* Reset
------------------------------------------------------------ */
* { margin: 0; padding: 0; }
html { overflow-y: scroll;}
body { background:#ffffff;}
ol, ul { list-style: none; margin: 0;}
ul li { margin: 0; padding: 0;}	
p { margin: 0 0 10px; line-height: 1.4em; font-size: 1.2em;}
img { display: block; margin-bottom: 10px;}
aside { font-style: italic; font-size: 0.9em;}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section { 
    display: block;
	}
	
/* Structure */
#wrapper {
    width: 100%;	
    max-width: 1400920px;
    margin: auto;
} 

#main {
    width: 100%;
    margin-right: 5%;
    float: left;
}		
		
aside {
    width: 100%;
    float: right;
}

/* Nav */
header nav {	   
    width:100%;
    margin-top:-10px;
    border-bottom: 2px solid #72B088;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #147850;
    color: white;
    float: right;
    
}

header nav img {
    margin-top:3px;
    margin-bottom:3px;
    margin-right:10px;
    margin-left:10%;
    clear:left;
    float:left;
}

#TopTipHolder{
    height:100%;
    width:100%;
    overflow:hidden;
    position:relative;
}
#TopTip{
    width:100%;
    line-height:35px;
    text-align:center;
   
}

#TopTipClose{
    width:85px;
    height:100px;
    background:url(http://www.codefans.net/jscss/demoimg/201208/close.gif) no-repeat;	
    position:absolute;
    right:10px;
    top:10px;
}


/* Banner */			
#banner {
    margin:0px;
    background-color:#E0E0E0;
    padding-top:5px;
    padding-bottom:10px;
    height:500px;
    border-bottom: 2px solid #C2C2C2;
    width:100%;
}
    
.carousel-size{
    width:495px;
    height:95%;
}

#logo{
    width:30%;
}

/* Media Queries */
@media screen and (max-width: 1120px) and (min-width:780px){
    body{
	width:1120px;
    }
    nav{
	width:900px;
    }
}

@media screen and (max-width: 780px)  and (min-width:440px){

    #calendar{
	margin-top:10px;
	margin-left:10%;
    }

    #menu{
	padding-left:10%;
    }
    
    #logo{
	width:100%;
    }
}

@media screen and (max-width: 440px){
    #logo{
	width:300px;
    }
    html{
	width:440px;
    }
    nav{
	width:440px;
    }
    #menu{
	padding-left:10%;
    }

    
    #calendar{
	margin-top:10px;
	margin-left:10%;
    }
}